.accordion {
    font-size: inherit;

    &__title {
        cursor: pointer;
        color: $main-color;
        margin-bottom: 1rem;
    }

    &__content {
        margin-bottom: 2rem;
    }

    &__title strong {
        font-weight: bold;
    }

    &__click {
        display: inline-block;
        border-bottom: 1px solid;
    }

    &__click button {
        cursor: pointer;
        margin-left: 1rem;
    }

    &__content {
        text-align: justify;
        overflow: hidden;
        max-height: 0;
    }
}