$main-font-size: 62.5%;
$hf-height: 10vh;
$main-height: 80vh;

$main-color: #3998B6;
$secondary-color: #EBECF0;
$error-color: tomato;
$shadow-color: #e5e7eb;

// Theme light
$font-color-theme-light: #404756;
$bg-color-theme-light: #FFFFFF;

// Theme dark
$font-color-theme-dark: #F6F7F9;
$bg-color-theme-dark: #23272F;